<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IMonitor</title>
</head>
<body ng-app="IMonitor">
<div class="container-fluid global-container" ng-controller="RootCtrl as RootVm" ng-class="{false:'full-fill', true:''}[RootVm.sidebar]">
  <div class="row">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top global-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:;">IMonitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="home">首页</a></li>
            <li uib-dropdown>
              <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>基础信息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="info.users({currentServer: currentServer.id})">用户信息</a></li>
                <!--<li><a ui-sref="info.authority{currentServer: currentServer}">权限管理</a></li>-->
                <li><a ui-sref="info.server({currentServer: currentServer.id})">服务器信息</a></li>
              </ul>
            </li>
            <li uib-dropdown>
              <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>监控系统<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="monitor.alarmPolicy({currentServer: currentServer.id})">报警策略</a></li>
                <li><a ui-sref="monitor.base({currentServer: currentServer.id})">基础监控</a></li>
                <li><a ui-sref="monitor.log({currentServer: currentServer.id})">日志监控</a></li>
                <li><a ui-sref="monitor.alive({currentServer: currentServer.id})">存活监控</a></li>
                <li><a ui-sref="monitor.custom({currentServer: currentServer.id})">自定义监控</a></li>
                <li><a ui-sref="monitor.history({currentServer: currentServer.id})">历史数据</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;">您好, lizhaoming</a></li>
            <li><a href="javascript:;">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- Sidebar -->
    <div class="global-sidebar ng-cloak" ng-if="RootVm.sidebar" ng-cloak>
      <div class="global-nav-title">服务器列表</div>
      <ul class="nav global-nav-sidebar">
        <li ng-repeat="server in RootVm.serverList track by $index" ng-class="{true: 'active', false: ''}[server.id == currentServer.id]">
          <a href="javascript:;" ng-click="RootVm.toggleServer(server.id)" ng-bind="server.name"></a>
        </li>
      </ul>
    </div>
    <!-- global-breadcrumb -->
    <div class="global-breadcrumb ng-cloak" ng-if="RootVm.breadcrumb" ng-cloak>
      当前所在位置:
      <ol class="breadcrumb">
        <li ng-repeat="state in RootVm.breadcrumb track by $index" ng-bind="state"></li>
        <li><span ng-bind="currentServer.name"></span></li>
      </ol>
    </div>
    <!-- main -->
    <div ui-view class="global-main-body"></div>
  </div>
</div>
</body>
</html>